<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @record.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @record.IT2 %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
