<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Dms:</strong>
  <%= @tag.DMS %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<p>
  <strong>Ds:</strong>
  <%= @tag.DS %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<p>
  <strong>Co:</strong>
  <%= @tag.CO %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<p>
  <strong>Em:</strong>
  <%= @tag.EM %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<p>
  <strong>Sad:</strong>
  <%= @tag.SAD %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<p>
  <strong>Oopd:</strong>
  <%= @tag.OOPD %>
</p>

<p>
  <strong>It1:</strong>
  <%= @tag.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @tag.IT2 %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
