
<% if @search.search_books.empty? %>
<p>No records Found</p>

<% else %>

<% @search.search_books.each do |c|%>
<br>
<div class="div">
    <h1><%=c.name%></h1>
    <%= link_to 'Show', c %><br>
    <%= link_to 'Edit', edit_book_path(c) %>
    <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
<% end %>
<%= link_to 'back',new_search_path %>
