<%= form_for([@dog,@cat]) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :faculty %><br>
    <%= f.text_field :faculty , class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject ,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :IT1 %><br>
    <%= f.text_field :IT1 ,class:'form-contol'%>
  </div>
  <div class="form-group">
    <%= f.label :IT2 %><br>
    <%= f.text_field :IT2,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :IT3 %><br>
    <%= f.text_field :IT3,class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit',class:'btn btn-primary'%>
  </div>
<% end %>
