<p id="notice"><%= notice %></p>

<p>
  <strong>Faculty:</strong>
  <%= @cat.faculty %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @cat.subject %>
</p>

<p>
  <strong>It1:</strong>
  <%= @cat.IT1 %>
</p>

<p>
  <strong>It2:</strong>
  <%= @cat.IT2 %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
