<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick"%>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<%= yield %>


</body>
</html>
